	#img
	{
		position: absolute;
		top:30%;
		left:33%;
		transform: translate(0%,0%);
		animation: nm 10s infinite;
		
	}
	@keyframes nm{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	   }
	}
	.txt{
		font-size: 50px;
		font-family: Arial Rounded MT;
		top:0%;
		left:35%;
		transform: translate(22%,50%);
		animation: color 1s infinite;

	}
	@keyframes color {
  		0%   {color: red;}
  		25%  {color: yellow;}
  		50%  {color: blue;}
  		100% {color: green;}
	}